@charset "UTF-8";

* {
            margin: 0;
            padding: 0; 
        }

        ::-webkit-scrollbar {
            height: 0;
            width: 0;
        }

        img {
            width: 100vw;
        }

        a {
            display: block;
            background-color: darkred;
            color: white;
            text-align: center;
            padding: 20px;
            font-size: 1.2em;
            font-weight: bolder;
            text-decoration: none;
        }